<mat-card>
  <div>
    <div>
      <strong>Filters</strong>
    </div>

    <div>
      <form>
        <mat-form-field>
          <mat-label>From</mat-label>
          <input matInput type="number" id="from" class="form-control" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>To</mat-label>
          <input matInput type="number" id="to" class="form-control" />
        </mat-form-field>
        <br />
        <button
          mat-raised-button
          color="accent"
          class="btn btn-primary btn-block btn-sm"
        >
          Filter by Price
        </button>
      </form>
    </div>
  </div>
</mat-card>
